.message {
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background-color: blanchedalmond;
    border: 5px solid green;
}

.error {
    color: red;
    background-color: blanchedalmond;
    border: 5px solid red;
}